Follow-up Pacientes Inativos.json
{
  "name": "Follow-up Pacientes Inativos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "09f4fade-58bd-4a7f-b035-9ce233a8bc11",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "pacientes",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "=ativo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "e27e1c6c-5524-403e-9d86-6a86f08fb429",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "kJqPXgwJwGdyc2mi",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1d178c7b-9da5-425c-98dd-805ddb91afcd",
              "leftValue": "={{ \n  $json.ultimo_agendamento && \n  new Date($json.ultimo_agendamento) < \n  new Date(Date.now() - 7 * 24 * 60 * 60 * 1000)\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "11abc2d3-23ce-4450-8bd9-7b43ead99ae8",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32bed0bf-34d8-4ccb-a29d-d848f4120842",
              "name": "mensagem",
              "value": "=Paciente {{$json.nome}} está sem agendamento há mais de 7 dias. Recomendado realizar contato para continuidade do tratamento.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -96
      ],
      "id": "af80de09-f819-47e2-851e-a30a7b889ff9",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d598fa79-856a-431e-95ed-3eb480d6a2cc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d27264ab9e27cae2c0b9c1a034309fe09172575f4fb09bc65d24722ed8725e7f"
  },
  "id": "QaD1buf1fGCi9l60",
  "tags": []
}