Relatório Semanal da Clínica.json
{
  "name": "Relatório Semanal da Clínica",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e23af586-f1c2-4162-82df-4b3ee7e70dd2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "agendamentos"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "02c5b49b-7a2a-41d9-b8a3-7af3ac83e78e",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "kJqPXgwJwGdyc2mi",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const seteDiasAtras = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);\n\nconst agendamentos = items\n  .map(i => i.json)\n  .filter(a => new Date(a.data_hora) >= seteDiasAtras);\n\nconst total = agendamentos.length;\n\nconst receita = agendamentos.reduce((acc, a) => acc + (a.valor || 0), 0);\n\nconst noShow = agendamentos.filter(a => a.status === 'no_show').length;\n\nconst taxaNoShow = total > 0 ? ((noShow / total) * 100).toFixed(1) : 0;\n\nreturn [{\n  json: {\n    total_sessoes: total,\n    receita: receita,\n    no_show: noShow,\n    taxa_no_show: taxaNoShow\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "7284e17c-8e3d-4df2-af72-b56ab8f2c4c7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5150f4b-79ed-40b8-9c25-fdbe93028601",
              "name": "mensagem",
              "value": "=Relatório semanal da clínica:\n\nTotal de sessões: {{$json.total_sessoes}}\nReceita estimada: R$ {{$json.receita}}\nNo-show: {{$json.no_show}} ({{$json.taxa_no_show}}%)\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "60a59ecb-3495-407c-9dd2-ee59f245c89d",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7724b1e4-ad3d-438c-9ddd-779a9066f082",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d27264ab9e27cae2c0b9c1a034309fe09172575f4fb09bc65d24722ed8725e7f"
  },
  "id": "5XKwG1jwxxpM3xIR",
  "tags": []
}