Teste IA Aplicada.json
{
  "name": "Teste IA Aplicada",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        -16
      ],
      "id": "ce5366fd-2305-407e-aa1e-d8da68aa798e",
      "name": "Verificacao_Agendamentos_17h"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "=agendamentos",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        -16
      ],
      "id": "5def059a-22fa-40a3-bae8-8f05a40f8d46",
      "name": "Buscar_Agendamentos_Pendentes",
      "credentials": {
        "supabaseApi": {
          "id": "kJqPXgwJwGdyc2mi",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3627d051-ca68-409a-9fa7-717c0d750f7c",
              "leftValue": "={{ $json.data_hora }}",
              "rightValue": "={{ $now.plus({ days: 1 }).startOf('day') }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            },
            {
              "id": "7a514fd5-00a0-4687-a5b7-cee71500221c",
              "leftValue": "={{ $json.data_hora }}",
              "rightValue": "={{ $now.plus({ days: 1 }).endOf('day') }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "",
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "33c73adb-9fcf-413c-b920-a0b9d05f4633",
      "name": "Filtrar_Consultas_do_Dia"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "pacientes",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.paciente_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "64ccaad7-50d7-43af-80d5-2255867ecb53",
      "name": "Consultar_Dados_do_Paciente",
      "credentials": {
        "supabaseApi": {
          "id": "kJqPXgwJwGdyc2mi",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6964012695",
        "text": "=Olá {{ $json.nome }}, a Clínica Vida+ confirma sua consulta para amanhã? Seus dados de contato registrados são: {{ $json.whatsapp }}.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        0
      ],
      "id": "7fcc89b7-e76e-40cf-8462-9797f97d881a",
      "name": "Enviar_Lembrete_Telegram",
      "webhookId": "9a1918d5-65e7-4632-b295-e73944b70ed8",
      "credentials": {
        "telegramApi": {
          "id": "QM3LpdY9p3HP1Fb7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "agendamentos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Filtrar_Consultas_do_Dia').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "Lembrete Enviado"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "e5ac37ce-7023-432f-a78d-c49ee480a1cc",
      "name": "Marcar_como_Notificado_Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "kJqPXgwJwGdyc2mi",
          "name": "Supabase account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Verificacao_Agendamentos_17h": {
      "main": [
        [
          {
            "node": "Buscar_Agendamentos_Pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_Agendamentos_Pendentes": {
      "main": [
        [
          {
            "node": "Filtrar_Consultas_do_Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar_Consultas_do_Dia": {
      "main": [
        [
          {
            "node": "Consultar_Dados_do_Paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar_Dados_do_Paciente": {
      "main": [
        [
          {
            "node": "Enviar_Lembrete_Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar_Lembrete_Telegram": {
      "main": [
        [
          {
            "node": "Marcar_como_Notificado_Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f3226605-a02f-43db-8f96-00b50b54aa68",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d27264ab9e27cae2c0b9c1a034309fe09172575f4fb09bc65d24722ed8725e7f"
  },
  "id": "q1tYPWxgb1Z273Dv",
  "tags": []
}